@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}
 

@layer base {
  :root {
    --background: 108 33% 97%;
    --foreground: 105 17% 9%;
    --card: 108 33% 97%;
    --card-foreground: 105 17% 9%;
    --popover: 108 33% 97%;
    --popover-foreground: 105 17% 9%;
    --primary: 104 41% 25%;
    --primary-foreground: 108 33% 97%;
    --secondary: 103 52% 67%;
    --secondary-foreground: 105 17% 9%;
    --muted: 108 33% 20%;
    --muted-foreground: 104 18% 70%;
    --accent: 103 63% 46%;
    --accent-foreground: 105 17% 9%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 105 17% 9%;
    --border: 108 33% 20%;
    --input: 108 33% 20%;
    --ring: 103 63% 40%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 105 29% 3%;
    --foreground: 105 17% 91%;
    --card: 105 29% 3%;
    --card-foreground: 105 17% 91%;
    --popover: 105 29% 3%;
    --popover-foreground: 105 17% 91%;
    --primary: 103 41% 75%;
    --primary-foreground: 105 29% 3%;
    --secondary: 103 52% 33%;
    --secondary-foreground: 105 29% 3%;
    --muted: 104 29% 80%;
    --muted-foreground: 105 17% 91%;
    --accent: 103 63% 54%;
    --accent-foreground: 105 29% 3%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 107 18% 10%;
    --border: 105 29% 60%;
    --input: 104 29% 80%;
    --ring: 103 63% 60%;
  }
}

 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}